<div class="navbar-form navbar-right" role="form">
	<div class="form-group">
		<a class="btn btn-info " href="#read" style="margin-left: auto; margin-right: auto;">開始閱讀 <span class="glyphicon glyphicon-fire"></span></a>
		<a class="btn btn-default " href="#achievement" style="margin-left: auto; margin-right: auto;">觀看成就 <span class="glyphicon glyphicon-tower"></span></a>
		<a class="btn btn-default" href="#setting" title="Setting"><%-nickname%> <span class="glyphicon glyphicon-user"></span></a>
	</div>
	<% if(isAdmin === true) { %>
		<a class="btn btn-default" href="#dashboard">後台管理</a>
	<% } %>
	<button id="logout" type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Log Out">
		<span class="glyphicon glyphicon-log-out"></span>
	</button>
</div>