<% 
	var profile = JSON.parse(profile);	
%>
<div class="jumbotron"  style="max-width: 1280px; min-width: 300px; margin-left: auto; margin-right: auto;">
  <div class="container" style="width: 100%;">
    <h2>個人資料</h2>
	<div style="margin: 20px 0px;">
		<div style="text-align: right;"><span data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-cog btn btn-default" title="Edit"></span></div>
		<div class="row">
			<div class="cogCover col-md-3 col-sm-4 col-xs-12">
				<img id="thumbnailPhoto" src="assets/images/man.png" alt="" class="img-thumbnail" width="140" height="140" style="float: left;">
                <div style="width: 140px; height: 140px; position: absolute; padding: 4px;">
                    <div style="position: relative; width: 100%; height: 100%;">
                        <span class="thumbnailCog glyphicon glyphicon-cog" data-placement="top" title="編輯頭像" data-container="body"
 data-toggle="modal" data-target="#thumbnailModal"></span>
                    </div>
                </div>
			</div>
			<div id="address" class="col-md-9 col-sm-8 col-xs-12">
				
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
		
	<div style="width: 100%;">進度: <strong><%=percentage%>%</strong></div>
	<div class="progress" style="width: 100%;">
		<div class="progress-bar" role="progressbar" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=percentage%>%;">
		<%=percentage%>%
		</div>
	</div>
	
	<div style="clear: both"></div>
	<strong>獎章:</strong>
	<div style="width: 100%; ">
		<% for(var i=0; i<badges.length; ++i){ %>
			<span class="badge"><%=badges[i]%></span>
		<% } %>
	</div>
    <div style="clear: both"></div>
	<div style="margin-top: 20px; margin-left: auto; margin-right: auto;">
		<div id="settingStartReading" style="float: left; margin-right: 15px; margin-bottom: 5px;">
            <a class="btn btn-info btn-lg" href="#read">開始閱讀 <span class="glyphicon glyphicon-fire"></span></a>
        </div>
        <div id="settingStartNew" style="float: left; margin-right: 15px; margin-bottom: 5px; display: none;">
            <a class="btn btn-success btn-lg">開始一個新的讀經計畫！ <span class="glyphicon glyphicon-flash"></span></a>
        </div>
        <div style="float: left;"><a class="btn btn-default btn-lg" href="#blog/new">寫下收穫 <span class="glyphicon glyphicon-book"></span></a></div>
	</div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">編輯你的個人檔案</h4>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="group" class="col-sm-2 col-xs-4 control-label">小組</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control" id="group"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 col-xs-4 control-label">暱稱</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="nickname" placeholder="Nickname" value="<%-profile.nickname%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" placeholder="Email" value="<%-profile.email%>">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="description" placeholder="Description"><%-profile.description%></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                    <img id="loadingGif" width="20" height="20" src="assets/images/loading.gif" style="margin-right: 3px; display: none;"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <button id="saveBtn" type="button" class="btn btn-primary">儲存變更</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="thumbnailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel1">輸入你的Facebook ID</h4>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="group" class="col-sm-2 col-xs-4 control-label">Facebook ID</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" name="thumbnailURL" class="form-control" placeholder="put FB ID here" value="<%-profile.FBID%>"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                    <img id="loadingGif" width="20" height="20" src="assets/images/loading.gif" style="margin-right: 3px; display: none;"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <button id="saveFbBtn" type="button" class="btn btn-primary">儲存變更</button>
                
            </div>
        </div>
    </div>
</div>