<% var user = JSON.parse(user); %>
<div class="jumbotron"  style="width: 60%; min-width: 300px; margin-left: auto; margin-right: auto;">
  <div class="container" style="width: 100%;">
	<div style="margin: 20px 0px;">
		<div class="row">
			<div class="col-md-3">
				<img src="/assets/images/man.png" alt="" class="img-thumbnail" width="140" height="140" style="float: left;">
			</div>
			<div class="col-md-9">
				<address style="float: left; margin-left: 30px; width: 500px;">
					<h3><%=user.username%></h3><br>
					<%=user.nickname%><br>
					No Description.
				</address>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
		
	<div style="width: 100%;">Progress: <strong><%=percentage%>%</strong></div>
	<div class="progress" style="width: 100%;">
		<div class="progress-bar" role="progressbar" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=percentage%>%;">
		<%=percentage%>%
		</div>
	</div>
	
	<div style="clear: both"></div>
	<strong>Badges:</strong>
	<div style="width: 100%; ">
		<% for(var i=0; i<badges.length; ++i){ %>
			<span class="badge"><%=badges[i]%></span>
		<% } %>
	</div>
	<div style="width: 20%; margin-top: 20px; margin-left: auto; margin-right: auto;">
		<a class="btn btn-info btn-lg" href="#read" style="margin-left: auto; margin-right: auto;">Start Reading <span class="glyphicon glyphicon-fire"></span></a>
	</div>
  </div>
</div>