<td width="5%">#</td>
<td class="hidden-xs"><img class="thumbnail" src="<%=thumbnailURL%>" width="70" height="70"/></td>
<td width="10%"><a href="#profile/<%=userId%>"><%=username%></a></td>
<td width="5%"><%=groupName%></td>
<td width="30%">
	<div class="progress" style="margin-bottom: 0px;">
	  <div class="progress-bar <%-(readTimes > 1)? 'progress-bar-success': ''%>" role="progressbar" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=percentage%>%;">
	    <span class="sr-only"><%=percentage%>% Complete</span>
	  </div>
	</div>
	<div style="float: left;"><%=percentage%>% - <%=(readTimes > 1)? '<span style="color: green;">第'+readTimes+'遍</span>': ''%></div>
</td>
<td width="50%">
	<% for(var i=0; i<badges.length; ++i){ %>
		<span class="badge"><%=badges[i].name%></span>
	<% } %>
</td>
