<td>#</td>
<td><a href="#profile/<%=userId%>"><%=username%></a></td>
<td>
	<div class="progress" style="margin-bottom: 0px;">
	  <div class="progress-bar" role="progressbar" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=percentage%>%;">
	    <span class="sr-only"><%=percentage%>% Complete</span>
	  </div>
	</div>
	<div style="float: left;"><%=percentage%>%</div>
</td>
<td>
	<% for(var i=0; i<badges.length; ++i){ %>
		<span class="badge"><%=badges[i]%></span>
	<% } %>
</td>
