<div class="jumbotron"  style="width: 80%; margin-left: auto; margin-right: auto;">
  <div class="container" style="width: 100%;">
    <h1>Hi，來看看其他人讀得如何</h1>
    <p>你可以從這裡發掘大家的進度，也可以看見他們贏得的獎章(Badge)。嘗試著讓自己在讀經上穩定，期待收到美好的果效。</p>
	<div class="panel-group" >
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th class="hidden-xs">Thumbnail</th>
					<th>Name</th>
					<th>Progress</th>
					<th>Badges</th>
				</tr>
			</thead>
			<tbody id="panel">
				
			</tbody>
		</table>
		<% if(showReadingButton === 1) {%>
		<div style="width: 20%; margin-top: 20px; margin-left: auto; margin-right: auto;">
		<a class="btn btn-info btn-lg" href="#read" style="margin-left: auto; margin-right: auto;">Start Reading <span class="glyphicon glyphicon-fire"></span></a>
		<% } %>
	</div>
	</div>
  </div>
</div>