[class^="icon-"] {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url('../images/sprites/sprites.svg');
	background-repeat: no-repeat;
}
.icon-home {
	background-position: 0 0;
	width: 48px;
}
.icon-home2 {
	background-position: -64px 0;
	width: 54px;
}
.icon-home3 {
	background-position: -134px 0;
	width: 48px;
}
.icon-office {
	background-position: -198px 0;
	width: 48px;
}
.icon-newspaper {
	background-position: -262px 0;
	width: 51px;
}
.icon-pencil {
	background-position: -329px 0;
	width: 48px;
}
.icon-pencil2 {
	background-position: -393px 0;
	width: 48px;
}
.icon-quill {
	background-position: -457px 0;
	width: 48px;
}
.icon-pen {
	background-position: -521px 0;
	width: 48px;
}
.icon-blog {
	background-position: -585px 0;
	width: 48px;
}
.icon-droplet {
	background-position: -649px 0;
	width: 48px;
}
.icon-paint-format {
	background-position: -713px 0;
	width: 54px;
}
.icon-image {
	background-position: -783px 0;
	width: 60px;
}
.icon-image2 {
	background-position: -859px 0;
	width: 48px;
}
.icon-images {
	background-position: -923px 0;
	width: 54px;
}
.icon-camera {
	background-position: -993px 0;
	width: 54px;
}
.icon-music {
	background-position: 0 -64px;
}
.icon-headphones {
	background-position: -64px -64px;
}
.icon-play {
	background-position: -134px -64px;
}
.icon-film {
	background-position: -198px -64px;
}
.icon-camera2 {
	background-position: -262px -64px;
}
.icon-dice {
	background-position: -329px -64px;
}
.icon-pacman {
	background-position: -393px -64px;
}
.icon-spades {
	background-position: -457px -64px;
}
.icon-clubs {
	background-position: -521px -64px;
}
.icon-diamonds {
	background-position: -585px -64px;
}
.icon-pawn {
	background-position: -649px -64px;
}
.icon-bullhorn {
	background-position: -713px -64px;
}
.icon-connection {
	background-position: -783px -64px;
}
.icon-podcast {
	background-position: -859px -64px;
}
.icon-feed {
	background-position: -923px -64px;
}
.icon-book {
	background-position: -993px -64px;
}
.icon-books {
	background-position: 0 -128px;
}
.icon-library {
	background-position: -64px -128px;
}
.icon-file {
	background-position: -134px -128px;
}
.icon-profile {
	background-position: -198px -128px;
}
.icon-file2 {
	background-position: -262px -128px;
}
.icon-file3 {
	background-position: -329px -128px;
}
.icon-file4 {
	background-position: -393px -128px;
}
.icon-copy {
	background-position: -457px -128px;
}
.icon-copy2 {
	background-position: -521px -128px;
}
.icon-copy3 {
	background-position: -585px -128px;
}
.icon-paste {
	background-position: -649px -128px;
}
.icon-paste2 {
	background-position: -713px -128px;
}
.icon-paste3 {
	background-position: -783px -128px;
}
.icon-stack {
	background-position: -859px -128px;
}
.icon-folder {
	background-position: -923px -128px;
}
.icon-folder-open {
	background-position: -993px -128px;
}
.icon-tag {
	background-position: 0 -192px;
}
.icon-tags {
	background-position: -64px -192px;
}
.icon-barcode {
	background-position: -134px -192px;
}
.icon-qrcode {
	background-position: -198px -192px;
}
.icon-ticket {
	background-position: -262px -192px;
}
.icon-cart {
	background-position: -329px -192px;
}
.icon-cart2 {
	background-position: -393px -192px;
}
.icon-cart3 {
	background-position: -457px -192px;
}
.icon-coin {
	background-position: -521px -192px;
}
.icon-credit {
	background-position: -585px -192px;
}
.icon-calculate {
	background-position: -649px -192px;
}
.icon-support {
	background-position: -713px -192px;
}
.icon-phone {
	background-position: -783px -192px;
}
.icon-phone-hang-up {
	background-position: -859px -192px;
}
.icon-address-book {
	background-position: -923px -192px;
}
.icon-notebook {
	background-position: -993px -192px;
}
.icon-envelope {
	background-position: 0 -256px;
}
.icon-pushpin {
	background-position: -64px -256px;
}
.icon-location {
	background-position: -134px -256px;
}
.icon-location2 {
	background-position: -198px -256px;
}
.icon-compass {
	background-position: -262px -256px;
}
.icon-map {
	background-position: -329px -256px;
}
.icon-map2 {
	background-position: -393px -256px;
}
.icon-history {
	background-position: -457px -256px;
}
.icon-clock {
	background-position: -521px -256px;
}
.icon-clock2 {
	background-position: -585px -256px;
}
.icon-alarm {
	background-position: -649px -256px;
}
.icon-alarm2 {
	background-position: -713px -256px;
}
.icon-bell {
	background-position: -783px -256px;
}
.icon-stopwatch {
	background-position: -859px -256px;
}
.icon-calendar {
	background-position: -923px -256px;
}
.icon-calendar2 {
	background-position: -993px -256px;
}
.icon-print {
	background-position: 0 -320px;
}
.icon-keyboard {
	background-position: -64px -320px;
}
.icon-screen {
	background-position: -134px -320px;
}
.icon-laptop {
	background-position: -198px -320px;
}
.icon-mobile {
	background-position: -262px -320px;
}
.icon-mobile2 {
	background-position: -329px -320px;
}
.icon-tablet {
	background-position: -393px -320px;
}
.icon-tv {
	background-position: -457px -320px;
}
.icon-cabinet {
	background-position: -521px -320px;
}
.icon-drawer {
	background-position: -585px -320px;
}
.icon-drawer2 {
	background-position: -649px -320px;
}
.icon-drawer3 {
	background-position: -713px -320px;
}
.icon-box-add {
	background-position: -783px -320px;
}
.icon-box-remove {
	background-position: -859px -320px;
}
.icon-download {
	background-position: -923px -320px;
}
.icon-upload {
	background-position: -993px -320px;
}
.icon-disk {
	background-position: 0 -384px;
}
.icon-storage {
	background-position: -64px -384px;
}
.icon-undo {
	background-position: -134px -384px;
}
.icon-redo {
	background-position: -198px -384px;
}
.icon-flip {
	background-position: -262px -384px;
}
.icon-flip2 {
	background-position: -329px -384px;
}
.icon-undo2 {
	background-position: -393px -384px;
}
.icon-redo2 {
	background-position: -457px -384px;
}
.icon-forward {
	background-position: -521px -384px;
}
.icon-reply {
	background-position: -585px -384px;
}
.icon-bubble {
	background-position: -649px -384px;
}
.icon-bubbles {
	background-position: -713px -384px;
}
.icon-bubbles2 {
	background-position: -783px -384px;
}
.icon-bubble2 {
	background-position: -859px -384px;
}
.icon-bubbles3 {
	background-position: -923px -384px;
}
.icon-bubbles4 {
	background-position: -993px -384px;
}
.icon-user {
	background-position: 0 -448px;
}
.icon-users {
	background-position: -64px -448px;
}
.icon-user2 {
	background-position: -134px -448px;
}
.icon-users2 {
	background-position: -198px -448px;
}
.icon-user3 {
	background-position: -262px -448px;
}
.icon-user4 {
	background-position: -329px -448px;
}
.icon-quotes-left {
	background-position: -393px -448px;
}
.icon-busy {
	background-position: -457px -448px;
}
.icon-spinner {
	background-position: -521px -448px;
}
.icon-spinner2 {
	background-position: -585px -448px;
}
.icon-spinner3 {
	background-position: -649px -448px;
}
.icon-spinner4 {
	background-position: -713px -448px;
}
.icon-spinner5 {
	background-position: -783px -448px;
}
.icon-spinner6 {
	background-position: -859px -448px;
}
.icon-binoculars {
	background-position: -923px -448px;
}
.icon-search {
	background-position: -993px -448px;
}
.icon-zoom in {
	background-position: 0 -512px;
}
.icon-zoom out {
	background-position: -64px -512px;
}
.icon-expand {
	background-position: -134px -512px;
}
.icon-contract {
	background-position: -198px -512px;
}
.icon-expand2 {
	background-position: -262px -512px;
}
.icon-contract2 {
	background-position: -329px -512px;
}
.icon-key {
	background-position: -393px -512px;
}
.icon-key2 {
	background-position: -457px -512px;
}
.icon-lock {
	background-position: -521px -512px;
}
.icon-lock2 {
	background-position: -585px -512px;
}
.icon-unlocked {
	background-position: -649px -512px;
}
.icon-wrench {
	background-position: -713px -512px;
}
.icon-settings {
	background-position: -783px -512px;
}
.icon-equalizer {
	background-position: -859px -512px;
}
.icon-cog {
	background-position: -923px -512px;
}
.icon-cogs {
	background-position: -993px -512px;
}
.icon-cog2 {
	background-position: 0 -576px;
}
.icon-hammer {
	background-position: -64px -576px;
}
.icon-wand {
	background-position: -134px -576px;
}
.icon-aid {
	background-position: -198px -576px;
}
.icon-bug {
	background-position: -262px -576px;
}
.icon-pie {
	background-position: -329px -576px;
}
.icon-stats {
	background-position: -393px -576px;
}
.icon-bars {
	background-position: -457px -576px;
}
.icon-bars2 {
	background-position: -521px -576px;
}
.icon-gift {
	background-position: -585px -576px;
}
.icon-trophy {
	background-position: -649px -576px;
}
.icon-glass {
	background-position: -713px -576px;
}
.icon-mug {
	background-position: -783px -576px;
}
.icon-food {
	background-position: -859px -576px;
}
.icon-leaf {
	background-position: -923px -576px;
}
.icon-rocket {
	background-position: -993px -576px;
}
.icon-meter {
	background-position: 0 -640px;
}
.icon-meter2 {
	background-position: -64px -640px;
}
.icon-dashboard {
	background-position: -134px -640px;
}
.icon-hammer2 {
	background-position: -198px -640px;
}
.icon-fire {
	background-position: -262px -640px;
}
.icon-lab {
	background-position: -329px -640px;
}
.icon-magnet {
	background-position: -393px -640px;
}
.icon-remove {
	background-position: -457px -640px;
}
.icon-remove2 {
	background-position: -521px -640px;
}
.icon-briefcase {
	background-position: -585px -640px;
}
.icon-airplane {
	background-position: -649px -640px;
}
.icon-truck {
	background-position: -713px -640px;
}
.icon-road {
	background-position: -783px -640px;
}
.icon-accessibility {
	background-position: -859px -640px;
}
.icon-target {
	background-position: -923px -640px;
}
.icon-shield {
	background-position: -993px -640px;
}
.icon-lightning {
	background-position: 0 -704px;
}
.icon-switch {
	background-position: -64px -704px;
}
.icon-power cord {
	background-position: -134px -704px;
}
.icon-signup {
	background-position: -198px -704px;
}
.icon-list {
	background-position: -262px -704px;
}
.icon-list2 {
	background-position: -329px -704px;
}
.icon-numbered-list {
	background-position: -393px -704px;
}
.icon-menu {
	background-position: -457px -704px;
}
.icon-menu2 {
	background-position: -521px -704px;
}
.icon-tree {
	background-position: -585px -704px;
}
.icon-cloud {
	background-position: -649px -704px;
}
.icon-cloud-download {
	background-position: -713px -704px;
}
.icon-cloud-upload {
	background-position: -783px -704px;
}
.icon-download2 {
	background-position: -859px -704px;
}
.icon-upload2 {
	background-position: -923px -704px;
}
.icon-download3 {
	background-position: -993px -704px;
}
.icon-upload3 {
	background-position: 0 -768px;
}
.icon-globe {
	background-position: -64px -768px;
}
.icon-earth {
	background-position: -134px -768px;
}
.icon-link {
	background-position: -198px -768px;
}
.icon-flag {
	background-position: -262px -768px;
}
.icon-attachment {
	background-position: -329px -768px;
}
.icon-eye {
	background-position: -393px -768px;
}
.icon-eye-blocked {
	background-position: -457px -768px;
}
.icon-eye2 {
	background-position: -521px -768px;
}
.icon-bookmark {
	background-position: -585px -768px;
}
.icon-bookmarks {
	background-position: -649px -768px;
}
.icon-brightness-medium {
	background-position: -713px -768px;
}
.icon-brightness-contrast {
	background-position: -783px -768px;
}
.icon-contrast {
	background-position: -859px -768px;
}
.icon-star {
	background-position: -923px -768px;
}
.icon-star2 {
	background-position: -993px -768px;
}
.icon-star3 {
	background-position: 0 -832px;
}
.icon-heart {
	background-position: -64px -832px;
}
.icon-heart2 {
	background-position: -134px -832px;
}
.icon-heart-broken {
	background-position: -198px -832px;
}
.icon-thumbs-up {
	background-position: -262px -832px;
}
.icon-thumbs-up2 {
	background-position: -329px -832px;
}
.icon-happy {
	background-position: -393px -832px;
}
.icon-happy2 {
	background-position: -457px -832px;
}
.icon-smiley {
	background-position: -521px -832px;
}
.icon-smiley2 {
	background-position: -585px -832px;
}
.icon-tongue {
	background-position: -649px -832px;
}
.icon-tongue2 {
	background-position: -713px -832px;
}
.icon-sad {
	background-position: -783px -832px;
}
.icon-sad2 {
	background-position: -859px -832px;
}
.icon-wink {
	background-position: -923px -832px;
}
.icon-wink2 {
	background-position: -993px -832px;
}
.icon-grin {
	background-position: 0 -896px;
}
.icon-grin2 {
	background-position: -64px -896px;
}
.icon-cool {
	background-position: -134px -896px;
}
.icon-cool2 {
	background-position: -198px -896px;
}
.icon-angry {
	background-position: -262px -896px;
}
.icon-angry2 {
	background-position: -329px -896px;
}
.icon-evil {
	background-position: -393px -896px;
}
.icon-evil2 {
	background-position: -457px -896px;
}
.icon-shocked {
	background-position: -521px -896px;
}
.icon-shocked2 {
	background-position: -585px -896px;
}
.icon-confused {
	background-position: -649px -896px;
}
.icon-confused2 {
	background-position: -713px -896px;
}
.icon-neutral {
	background-position: -783px -896px;
}
.icon-neutral2 {
	background-position: -859px -896px;
}
.icon-wondering {
	background-position: -923px -896px;
}
.icon-wondering2 {
	background-position: -993px -896px;
}
.icon-point-up {
	background-position: 0 -960px;
}
.icon-point-right {
	background-position: -64px -960px;
}
.icon-point-down {
	background-position: -134px -960px;
}
.icon-point-left {
	background-position: -198px -960px;
}
.icon-warning {
	background-position: -262px -960px;
}
.icon-notification {
	background-position: -329px -960px;
}
.icon-question {
	background-position: -393px -960px;
}
.icon-info {
	background-position: -457px -960px;
}
.icon-info2 {
	background-position: -521px -960px;
}
.icon-blocked {
	background-position: -585px -960px;
}
.icon-cancel-circle {
	background-position: -649px -960px;
}
.icon-checkmark-circle {
	background-position: -713px -960px;
}
.icon-spam {
	background-position: -783px -960px;
}
.icon-close {
	background-position: -859px -960px;
}
.icon-checkmark {
	background-position: -923px -960px;
}
.icon-checkmark2 {
	background-position: -993px -960px;
}
.icon-spell-check {
	background-position: 0 -1024px;
}
.icon-minus {
	background-position: -64px -1024px;
}
.icon-plus {
	background-position: -134px -1024px;
}
.icon-enter {
	background-position: -198px -1024px;
}
.icon-exit {
	background-position: -262px -1024px;
}
.icon-play2 {
	background-position: -329px -1024px;
}
.icon-pause {
	background-position: -393px -1024px;
}
.icon-stop {
	background-position: -457px -1024px;
}
.icon-backward {
	background-position: -521px -1024px;
}
.icon-forward2 {
	background-position: -585px -1024px;
}
.icon-play3 {
	background-position: -649px -1024px;
}
.icon-pause2 {
	background-position: -713px -1024px;
}
.icon-stop2 {
	background-position: -783px -1024px;
}
.icon-backward2 {
	background-position: -859px -1024px;
}
.icon-forward3 {
	background-position: -923px -1024px;
}
.icon-first {
	background-position: -993px -1024px;
}
.icon-last {
	background-position: 0 -1088px;
}
.icon-previous {
	background-position: -64px -1088px;
}
.icon-next {
	background-position: -134px -1088px;
}
.icon-eject {
	background-position: -198px -1088px;
}
.icon-volume-high {
	background-position: -262px -1088px;
}
.icon-volume-medium {
	background-position: -329px -1088px;
}
.icon-volume-low {
	background-position: -393px -1088px;
}
.icon-volume-mute {
	background-position: -457px -1088px;
}
.icon-volume-mute2 {
	background-position: -521px -1088px;
}
.icon-volume-increase {
	background-position: -585px -1088px;
}
.icon-volume-decrease {
	background-position: -649px -1088px;
}
.icon-loop {
	background-position: -713px -1088px;
}
.icon-loop2 {
	background-position: -783px -1088px;
}
.icon-loop3 {
	background-position: -859px -1088px;
}
.icon-shuffle {
	background-position: -923px -1088px;
}
.icon-arrow-up-left {
	background-position: -993px -1088px;
}
.icon-arrow-up {
	background-position: 0 -1152px;
}
.icon-arrow-up-right {
	background-position: -64px -1152px;
}
.icon-arrow-right {
	background-position: -134px -1152px;
}
.icon-arrow-down-right {
	background-position: -198px -1152px;
}
.icon-arrow-down {
	background-position: -262px -1152px;
}
.icon-arrow-down-left {
	background-position: -329px -1152px;
}
.icon-arrow-left {
	background-position: -393px -1152px;
}
.icon-arrow-up-left2 {
	background-position: -457px -1152px;
}
.icon-arrow-up2 {
	background-position: -521px -1152px;
}
.icon-arrow-up-right2 {
	background-position: -585px -1152px;
}
.icon-arrow-right2 {
	background-position: -649px -1152px;
}
.icon-arrow-down-right2 {
	background-position: -713px -1152px;
}
.icon-arrow-down2 {
	background-position: -783px -1152px;
}
.icon-arrow-down-left2 {
	background-position: -859px -1152px;
}
.icon-arrow-left2 {
	background-position: -923px -1152px;
}
.icon-arrow-up-left3 {
	background-position: -993px -1152px;
}
.icon-arrow-up3 {
	background-position: 0 -1216px;
}
.icon-arrow-up-right3 {
	background-position: -64px -1216px;
}
.icon-arrow-right3 {
	background-position: -134px -1216px;
}
.icon-arrow-down-right3 {
	background-position: -198px -1216px;
}
.icon-arrow-down3 {
	background-position: -262px -1216px;
}
.icon-arrow-down-left3 {
	background-position: -329px -1216px;
}
.icon-arrow-left3 {
	background-position: -393px -1216px;
}
.icon-tab {
	background-position: -457px -1216px;
}
.icon-checkbox-checked {
	background-position: -521px -1216px;
}
.icon-checkbox-unchecked {
	background-position: -585px -1216px;
}
.icon-checkbox-partial {
	background-position: -649px -1216px;
}
.icon-radio-checked {
	background-position: -713px -1216px;
}
.icon-radio-unchecked {
	background-position: -783px -1216px;
}
.icon-crop {
	background-position: -859px -1216px;
}
.icon-scissors {
	background-position: -923px -1216px;
}
.icon-filter {
	background-position: -993px -1216px;
}
.icon-filter2 {
	background-position: 0 -1280px;
}
.icon-font {
	background-position: -64px -1280px;
}
.icon-text-height {
	background-position: -134px -1280px;
}
.icon-text-width {
	background-position: -198px -1280px;
}
.icon-bold {
	background-position: -262px -1280px;
}
.icon-underline {
	background-position: -329px -1280px;
}
.icon-italic {
	background-position: -393px -1280px;
}
.icon-strikethrough {
	background-position: -457px -1280px;
}
.icon-omega {
	background-position: -521px -1280px;
}
.icon-sigma {
	background-position: -585px -1280px;
}
.icon-table {
	background-position: -649px -1280px;
}
.icon-table2 {
	background-position: -713px -1280px;
}
.icon-insert-template {
	background-position: -783px -1280px;
}
.icon-pilcrow {
	background-position: -859px -1280px;
}
.icon-left to right {
	background-position: -923px -1280px;
}
.icon-right to left {
	background-position: -993px -1280px;
}
.icon-paragraph-left {
	background-position: 0 -1344px;
}
.icon-paragraph-center {
	background-position: -64px -1344px;
}
.icon-paragraph-right {
	background-position: -134px -1344px;
}
.icon-paragraph-justify {
	background-position: -198px -1344px;
}
.icon-paragraph-left2 {
	background-position: -262px -1344px;
}
.icon-paragraph-center2 {
	background-position: -329px -1344px;
}
.icon-paragraph-right2 {
	background-position: -393px -1344px;
}
.icon-paragraph-justify2 {
	background-position: -457px -1344px;
}
.icon-indent-increase {
	background-position: -521px -1344px;
}
.icon-indent-decrease {
	background-position: -585px -1344px;
}
.icon-new tab {
	background-position: -649px -1344px;
}
.icon-embed {
	background-position: -713px -1344px;
}
.icon-code {
	background-position: -783px -1344px;
}
.icon-console {
	background-position: -859px -1344px;
}
.icon-share {
	background-position: -923px -1344px;
}
.icon-mail {
	background-position: -993px -1344px;
}
.icon-mail2 {
	background-position: 0 -1408px;
}
.icon-mail3 {
	background-position: -64px -1408px;
}
.icon-mail4 {
	background-position: -134px -1408px;
}
.icon-google {
	background-position: -198px -1408px;
}
.icon-google plus {
	background-position: -262px -1408px;
}
.icon-google plus2 {
	background-position: -329px -1408px;
}
.icon-google plus3 {
	background-position: -393px -1408px;
}
.icon-google plus4 {
	background-position: -457px -1408px;
}
.icon-google-drive {
	background-position: -521px -1408px;
}
.icon-facebook {
	background-position: -585px -1408px;
}
.icon-facebook2 {
	background-position: -649px -1408px;
}
.icon-facebook3 {
	background-position: -713px -1408px;
}
.icon-instagram {
	background-position: -783px -1408px;
}
.icon-twitter {
	background-position: -859px -1408px;
}
.icon-twitter2 {
	background-position: -923px -1408px;
}
.icon-twitter3 {
	background-position: -993px -1408px;
}
.icon-feed2 {
	background-position: 0 -1472px;
}
.icon-feed3 {
	background-position: -64px -1472px;
}
.icon-feed4 {
	background-position: -134px -1472px;
}
.icon-youtube {
	background-position: -198px -1472px;
}
.icon-youtube2 {
	background-position: -262px -1472px;
}
.icon-vimeo {
	background-position: -329px -1472px;
}
.icon-vimeo2 {
	background-position: -393px -1472px;
}
.icon-vimeo3 {
	background-position: -457px -1472px;
}
.icon-lanyrd {
	background-position: -521px -1472px;
}
.icon-flickr {
	background-position: -585px -1472px;
}
.icon-flickr2 {
	background-position: -649px -1472px;
}
.icon-flickr3 {
	background-position: -713px -1472px;
}
.icon-flickr4 {
	background-position: -783px -1472px;
}
.icon-picassa {
	background-position: -859px -1472px;
}
.icon-picassa2 {
	background-position: -923px -1472px;
}
.icon-dribbble {
	background-position: -993px -1472px;
}
.icon-dribbble2 {
	background-position: 0 -1536px;
}
.icon-dribbble3 {
	background-position: -64px -1536px;
}
.icon-forrst {
	background-position: -134px -1536px;
}
.icon-forrst2 {
	background-position: -198px -1536px;
}
.icon-deviantart {
	background-position: -262px -1536px;
}
.icon-deviantart2 {
	background-position: -329px -1536px;
}
.icon-steam {
	background-position: -393px -1536px;
}
.icon-steam2 {
	background-position: -457px -1536px;
}
.icon-github {
	background-position: -521px -1536px;
}
.icon-github2 {
	background-position: -585px -1536px;
}
.icon-github3 {
	background-position: -649px -1536px;
}
.icon-github4 {
	background-position: -713px -1536px;
}
.icon-github5 {
	background-position: -783px -1536px;
}
.icon-wordpress {
	background-position: -859px -1536px;
}
.icon-wordpress2 {
	background-position: -923px -1536px;
}
.icon-joomla {
	background-position: -993px -1536px;
}
.icon-blogger {
	background-position: 0 -1600px;
}
.icon-blogger2 {
	background-position: -64px -1600px;
}
.icon-tumblr {
	background-position: -134px -1600px;
}
.icon-tumblr2 {
	background-position: -198px -1600px;
}
.icon-yahoo {
	background-position: -262px -1600px;
}
.icon-tux {
	background-position: -329px -1600px;
}
.icon-apple {
	background-position: -393px -1600px;
}
.icon-finder {
	background-position: -457px -1600px;
}
.icon-android {
	background-position: -521px -1600px;
}
.icon-windows {
	background-position: -585px -1600px;
}
.icon-windows8 {
	background-position: -649px -1600px;
}
.icon-soundcloud {
	background-position: -713px -1600px;
}
.icon-soundcloud2 {
	background-position: -783px -1600px;
}
.icon-skype {
	background-position: -859px -1600px;
}
.icon-reddit {
	background-position: -923px -1600px;
}
.icon-linkedin {
	background-position: -993px -1600px;
}
.icon-lastfm {
	background-position: 0 -1664px;
}
.icon-lastfm2 {
	background-position: -64px -1664px;
}
.icon-delicious {
	background-position: -134px -1664px;
}
.icon-stumbleupon {
	background-position: -198px -1664px;
}
.icon-stumbleupon2 {
	background-position: -262px -1664px;
}
.icon-stackoverflow {
	background-position: -329px -1664px;
}
.icon-pinterest {
	background-position: -393px -1664px;
}
.icon-pinterest2 {
	background-position: -457px -1664px;
}
.icon-xing {
	background-position: -521px -1664px;
}
.icon-xing2 {
	background-position: -585px -1664px;
}
.icon-flattr {
	background-position: -649px -1664px;
}
.icon-foursquare {
	background-position: -713px -1664px;
}
.icon-foursquare2 {
	background-position: -783px -1664px;
}
.icon-paypal {
	background-position: -859px -1664px;
}
.icon-paypal2 {
	background-position: -923px -1664px;
}
.icon-paypal3 {
	background-position: -993px -1664px;
}
.icon-yelp {
	background-position: 0 -1728px;
}
.icon-libreoffice {
	background-position: -64px -1728px;
}
.icon-file-pdf {
	background-position: -134px -1728px;
}
.icon-file-openoffice {
	background-position: -198px -1728px;
}
.icon-file-word {
	background-position: -262px -1728px;
}
.icon-file-excel {
	background-position: -329px -1728px;
}
.icon-file-zip {
	background-position: -393px -1728px;
}
.icon-file-powerpoint {
	background-position: -457px -1728px;
}
.icon-file-xml {
	background-position: -521px -1728px;
}
.icon-file-css {
	background-position: -585px -1728px;
}
.icon-html5 {
	background-position: -649px -1728px;
}
.icon-html52 {
	background-position: -713px -1728px;
}
.icon-css3 {
	background-position: -783px -1728px;
}
.icon-chrome {
	background-position: -859px -1728px;
}
.icon-firefox {
	background-position: -923px -1728px;
}
.icon-IE {
	background-position: -993px -1728px;
}
.icon-opera {
	background-position: 0 -1792px;
}
.icon-safari {
	background-position: -64px -1792px;
}
.icon-IcoMoon {
	background-position: -134px -1792px;
}
